#header {
	-fx-background-color:#c8df59;
}

.btnHeader {
	-fx-text-fill: rgb(250,250,250);
	-fx-background-color:#c8df59;
    -fx-background-radius:0;
    -fx-border:none;
    -fx-border-width: 0 3 3 0;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
}

.chart {
	-fx-pref-width: 1300;
	-fx-pref-height: 700;
}

#footer {
	-fx-background-color:#c8df59;
}

.row {
	-fx-padding: 50px;
    -fx-border-insets: 50px;
    -fx-background-insets: 50px;
}

.row > * {
	-fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.cbWizard, .tfWizard {
	-fx-pref-width: 200px;	
}

.txHeader {
	
}